/* 11. FOOTER*/
footer{
    background-color: #f7faf9;
    padding-top: 75px;
}

footer .footer-title{
    font-size: 17px;
    color: #3c4240;
    margin-bottom: 15px;
}

footer .footer-list{
    margin-top: 15px;
}

footer .footer-list li a{
    color: #3c4240;
    margin-bottom: 3px;
    font-size: 15px;
    display: block;
}

footer .footer-col4{
    margin-left: 115px;
}

footer .footer-col4 .footer-title{
    margin-bottom: 17px;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    margin-top: 3px;
}

footer p{
    font-size: 15px;
    margin-bottom: 15px;
}

footer form{
    position: relative;
}

footer form input{
    width: 390px;
    height: 40px;
    border: 1px solid #cbd0d4;
    background-color: #fff;
    padding-left: 15px;
}

footer form button{
    width: 155px;
    height: 40px;
    border: 1px solid #8d7955;
    background-color: #8d7955;
    color: #fff;
    position: absolute;
    top: 0;
    right: -0;
    font-size: 13px;
    letter-spacing: 1px;
    font-family: "Lato";
    cursor: pointer;
}

.newsletter::placeholder { 
    font-family: "Lato", sans-serif;
    font-style: normal;
    color: #9ea6ae;
}

.newsletter:-ms-input-placeholder { 
    font-family: "Lato", sans-serif;
    font-style: normal;
    color: #9ea6ae;
}

.newsletter::-ms-input-placeholder {
    font-family: "Lato", sans-serif;
    font-style: normal;
    color: #9ea6ae;
}

footer .social_links{
    margin-top: 29px;
}

footer .social_links a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #8d7955;
    color: #fff;
    margin-left: 10px;
}

footer .social_links a:first-child{
    margin-left: 2px;
}

footer .bottom_footer{
    justify-content: space-between;
    margin-top: 65px;
    padding-bottom: 40px;
}


footer .bottom_footer .bottom-footer-left img{
    max-width: 98px;
    min-width: 98px;
    width: 98px;
    max-height: 22px;
}

footer .bottom-footer-left ul{
    margin-left: 25px;
}

footer .bottom-footer-left ul li{
    color: #828f8b;
    font-size: 14px;
    position: relative;
    padding-right: 15px;
    margin-right: 15px;
}
footer .bottom-footer-left ul li:after{
    content: '';
    width: 0;
    height: 15px;
    position: absolute;
    border: 0.5px solid #b0c2bc;
    top: 5px;
    right: 0;
}

footer .bottom-footer-left ul li:last-child:after{
    height: 0;
}

/* 11. FOOTER END*/
