/* 1. Header */
 header .promo-banner{
    background-color: #e6edea;
    height: 40px;
    align-items: center;
}

.promo-banner-item{
    align-items: center;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

header .promo-banner-center .promo-banner-item{
    justify-content: center;
}

header .promo-banner-item img{
    max-width: 16px;
    width: 16px;
}

header .promo-banner-item span{
    font-weight: bold;
    font-size: 13px;
    margin-left: 19px;
}

.main-nav .flex-container{
    flex-direction: column;
    width: 100%;
}

.main-nav .user-nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav .user-nav{
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid #e6edea;
}

.main-nav .user-nav .phone-chat span{
    letter-spacing: 0.4px;
    margin-left: 10px;
    font-size: 14px;
    color: #3f3f3f;
}

.main-nav .user-nav .phone-chat a{
    margin-left: 25px;
    width: 118px;
    height: 30px;
    border: 1px solid #ced6d3;
    font-size: 14px;
    color: #838f8a;
}

.main-nav .search-acount-cart .nav-account a{
    align-items: center;
    font-size: 13px;
    margin-left: 7px;
    color: #545c59;
    position: relative;
    padding-left: 14px;
    line-height: 0;
}

.main-nav .nav-account a:after{
    content: '';
    width: 0;
    height: 16px;
    position: absolute;
    border: 1px solid #eaf0ed;
    top: 0px;
    left: 0;
}

.main-nav .nav-account a img{
    width: 12px;
    max-width: 12px;
    margin-right: 1.5px;
}

.main-nav .nav-account span{
    font-size: 13px;
    margin-left: 7px;
    color: #545c59;
    margin-right: 2px;
}

.main-nav .nav-mybag a{
    align-items: center;
    font-size: 13px;
    margin-left: 7px;
    color: #545c59;
    position: relative;
    padding-left: 14px;
    line-height: 0;
}

.main-nav .nav-mybag a:after{
    content: '';
    width: 0;
    height: 16px;
    position: absolute;
    border: 1px solid #eaf0ed;
    top: 0px;
    left: 0;
}

.main-nav .nav-mybag a img{
    width: 11px;
    max-width: 11px;
    height: 15px;
    max-height: 15px;
    margin-right: 1.5px;
}

.main-nav .nav-mybag a span{
    font-size: 13px;
    margin-left: 7px;
    color: #545c59;
    margin-right: 2px;
}

::placeholder {
    font-family: "Lora", sans-serif;
    font-style: italic;
    color: #838f8a;
}

:-ms-input-placeholder { 
    font-family: "Lora", sans-serif;
    font-style: italic;
    color: #838f8a;
}

::-ms-input-placeholder { 
   font-family: "Lora", sans-serif;
   font-style: italic;
   color: #838f8a;
}

.main-nav .nav-search input{
    border: none;
    width: 114px;
    font-size: 14px;
}

.main-nav .nav-search button{
    border: none;
    background: none;
}


.main-nav .nav-search button img{
    width: 15.5px;
    max-width: 15.5px;
}

.main-nav .logo-header{
    border-bottom: 1px solid #e6edea;
}

.main-nav .logo-header .logo-header-flex{
    height: 85px;
}

.main-nav .logo-header .logo-text{
    flex-direction: column;
    margin-left: 20px;
}

.main-nav .logo-header .logo-text h1{
    font-family: 'Cinzel', serif;
    font-size: 27px;
    color: #7f633e;
    line-height: 1;
}

.main-nav .logo-header .logo-text span{
    font-size: 14px;
    font-style: italic;
    color: #555c59;
    margin-left: -56px;
}

.header_nav .navigation{
    height: 45px;
    position: relative;
}

.header_nav .navigation li{
    height: 100%;
}

.header_nav .navigation li a{
    color: #3d4240;
    font-size: 15px;
    margin: 0 14px;
    display: flex;
    align-items: center;
    height: 100%;
}

.header_nav .navigation li a img{
    margin-right: 15px; 
}

.dropdown-header{
    height: 100%;
    position: inherit;
}

.drop-after{
    position: relative;
    height: 100%;
}

.drop-after:after{
    content: '';
    width: 100%;
    height: 0;
    position: absolute;
    border: 2px solid #49a37d;
    right: 0;
    bottom: -4px;
    display: none;
}

.dropdown-header:hover .drop-after:after{
    display: block;
}

.dropdown-header .dropdown-menu{
    width: 100%;
    z-index: 9999;
}

.dropdown-header .dropdown-menu .dropdown-content{
    border-radius: 0;
    -webkit-box-shadow: 0 0px 14px rgba(0,0,0,.1);
    box-shadow: 0 0px 14px rgba(0,0,0,.1);
    border-top: 1px solid #f3f3f3;
    background-color: #fff;
    padding: 0;
}

.drop-nav{
    letter-spacing: 0.5px;
    margin-bottom: 25px;
}

.drop-nav ul li{
    margin: 0;
    margin-bottom: 5px;
}

.header_nav .navigation .drop-nav ul li a{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: #555c59;
    margin: 0;
    margin-bottom: 15px;
}

.drop-nav .drop-col-header{
    letter-spacing: 0.5px;
    margin-bottom: 25px;
    font-size: 15px;
}

.drop-video-descr{
    background-color: #f7faf9;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
    margin-top: -10px;
}

.column-video{
    margin: 0 20px;
}

 .drop-video-descr p{
    font-style: italic;
    font-size: 22px;
    width: 287px;
    line-height: 27px;
    margin-top: 26px;
    color: #555c59;
}

.header_nav .navigation .drop-video-descr a{
    font-style: italic;
    color: #49a37d;
    margin-top: 10px;
}

 .drop-video-descr a p{
    width: 17px;
    height: 17px;
    color: #49a37d;
    border: 1px solid #49a37d;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    font-size: 10px;
    line-height: 0;
    margin-left: 10px;

}

.ddrop-video img{
    min-width: 390px;
}

.drop-down-header{
    width: 100%;
    background-color: #f7faf9;
    height: 55px;
    justify-content: center;
    margin-bottom: 35px;
}

.drop-down-header p{
    margin: 0 245px;
    font-family: "Lato";
    font-weight: 600;
    font-size: 18px;
}
 
.drop-down-header h3{
    font-family: "Lato";
    font-weight: 600;
    font-size: 17px;
    font-family: "Lato";
    font-weight: 600;
    font-size: 17px;
    margin-left: 8px;
    letter-spacing: 1px;
} 

/* 1.Header END