
@media only screen and (max-width: 1440px) {
    .main-slider-item{
        padding: 120px 0 80px 0;
    }

    .section-header h3{
        font-size: 38px;
    }

    /* our collectio */

    .our-collection {
        padding-top: 90px;
    }

    .our-coll-grid .init{
        padding: 15px;
    }

    .our-coll-grid .init .collection-img img{
        width: 120px;
        min-width: 120px;
    }

    .our-coll-grid .init .collection-text .collection-title{
        font-size: 26px;
        line-height: 30px;
        width: auto;
    }

    .our-coll-grid .init .collection-desc{
        font-size: 14px;
    }

    .our-coll-grid .init-row{
        height: 200px;
    }

    .our-coll-grid .init-row .collection-text{
        width: 410px;
    }

    .our-coll-grid .init-row .collection-btn a{
        right: 35px;
    }

    .our-coll-grid .init-row .collection-img img {
        top: 46px;
        left: -165px;
    }

    .our-coll-grid .init-row .collection-title{
        font-size: 28px;
    }

     /* our collectio */

     /* history */

    .history-text h5{
        font-size: 29px;
    }

    /* history */

    /*famous*/

    .famous-item .famous-img{
        height: 350px;
    }

    .famous-item .famous-dexcription h5{
        font-size: 29px;
    }

    .famous-header .second,
    .famous-header .first{
        font-size: 38px;
    }

    .famous-item .famous-dexcription h5{
        margin-top: 35px;
        line-height: 35px; 
    }

    .famous-item .famous-dexcription a{
        margin-top: 30px;
    }

    .famous-item .famous-img{
        height: 285px;;
    }

    /*famous*/

    /* showroomas  */
    .showrooms{
        height: 400px;
    }

     /* showroomas  */

     /* quote */
    .quote-grn{
        margin-top: 28px;
    }

    .quote-flex{
        height: 170px;
    }

     /* quote */

     /*story*/
    .our-story{
        padding-top: 60px;
    }

    .history-text{
        height: auto;
        padding: 60px 0 60px 30px;
    }

   /*story*/

   /*about us*/

    .about-us-section{
        padding-top: 70px;
    }

    .about-us-section .about-us-description h5{
        font-size: 25px;
    }

    /*about us*/

    /*packaging*/

    .packaging-section .packaging-bg{
        height: 227px;
        margin: 50px 0;
    }

    .pack-video {
        width: 100%;
        height: 270px;
    }

     /*packaging*/

     /*footer */

    footer .bottom_footer{
        padding-top: 5px;
    }

    footer form input {
        width: 181px;
    }

    footer form button{
        width: 103px;
        left: 181px;
    }

     /*footer */
}