@media only screen and (max-width: 1088px){
    .container{margin:0 40px;}
}


@media only screen and (max-width: 1440px){
    /* HEADER  */
    .dropdown-nav-list .column-dropdown-video{
        display: none;
    }

    .sub-title{
        font-size: 35px;
    }

    .section-header h3{
        font-size: 35px;
    }
}

@media only screen and (max-width: 1024px) {
    /* HEADER  */
    header .promo-header .promo-sale{
        display: none;
    }

    header .promo-header .freeshoping-uk{
        justify-content: flex-end;
    }

    .main-nav .nav-list a{
        margin: 0px 15px;
        font-size: 14px;
    }

    .sub-title{
        font-size: 30px;
    }

}

@media only screen and (max-width: 910px){
    /* HEADER  */
    .main-nav .nav-list a{
        margin: 0px 8px;
        font-size: 13px;
    }

    .drop-down-header p {
        margin: 0 100px;
    }
}


@media only screen and (max-width: 768px){
    /* HEADER  */
    .container{margin:0 15px;}
    .section-header h3 {
        font-size: 27px;
        width: 60%;
        margin: auto;
    }

    .sub-title{
        font-size: 25px;
    }

    .mobile-nav-content{
        display: block;
    }

    .level-item:not(:last-child){
        margin: 0;
    }

    header .promo-header .freeshoping-uk{
        display: none;
    }
    
    header .promo-header .free-shoping{
        height: 100%;
        justify-content: center;
    }

    .main-header{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #e6edea;
        height: 115px;
        position: relative;
    }

    header .user-nav {
        border: none;
        order: 1;
    }
    
    .main-nav{
        order: -1;
    }

    header .nav-account{
        order: 1;
    }

    .logo-header {
        border: none;
    }

    header .nav-account a{
        margin: 0;
    }

    .user-nav .container{
        display: flex;
        height: 100%;
    }

    .user-nav .phone-number{
        display: none;
    }

    .user-nav .search-acount-cart .nav-search{
        display: none;
    }

    header .nav-account span{
        display: none;
    }

    header .nav-account a img{
        width: 21px;
        max-width: 21px;
    }

    header .nav-mybag a img {
        width: 21px;
        max-width: 21px;
        height: 27px;
        max-height: 26px;
        margin-right: 8.5px;
    }

    .logo-header .logo-header-flex{
        margin-left: 60px;
    }

    header .user-nav .level {
        height: 75px;
    }

    header .nav-mybag a span{
        display: none;
    }

    header .nav-account a:after,
    header .nav-mybag a:after{
        display: none;
    }

    .logo-header .logo-text{
        display: none;
    }

    .main-nav .nav-list{
        display: none;
    }

    .mob-nav-open{
        display: block;
    }

    .mobile-nav-content .nav-level-3 .nav-img{
        width: 60%;
        margin-left: 33%;
    }
}

@media only screen and (max-width: 375px){
    /* HEADER  */
    header .promo-header img {
        margin-right: 1px;
    }

    header .promo-header span {
        font-size: 12px;
    }

    .mobile-nav-content .nav-level-2 a,
    .nav-level-2 .level-2-header,
    .mobile-nav-content a{
        font-size: 15px;
    }

    .mobile-search p{
        font-size: 17px;
    }

    .mobile-search form input{
        font-size: 16px;
    }

}














/*-----------------------------------*/

@media only screen and (max-width: 1472px){
    /* OUR COLLECTION */
    .init .collection-img img{
        width: 110px;
        min-width: 110px;
    }

    .init .collection-text {
        margin-left: 10px;
    }


}




@media only screen and (max-width: 1440px){
    
    /* MAIN SLIDER  */

    .main-carousel-text h2 {
        font-size: 42px;
    }

    /* OUR COLLECTION */
    .init{
        padding: 10px;
    }

    .init .collection-text .collection-title {
        font-size: 22px;
        line-height: 32px;
        width: 80%;
        min-height: 60px;
        margin-bottom: 30px;
    }

    .init .collection-desc{
        margin-top: 0;
    }

    .education-emerald{
        height: 190px;
    }

    .education-emerald .educatio-img {
        top: 25px;
        left: -185px;
    }

    .education-emerald .collection-title h2{
        font-size: 28px;
    }

    .education-emerald .collection-title p {
        color: #3d4240;
        font-size: 14px;
        width: 87%;
        margin: auto;
    }

    /* OUR STORY */
    .story-item .story-text {
        padding: 30px 0 30px 30px;
    }

    /* SHOWROOMS  */

    .showrooms p{
        width: 50%;
    }

   

}

@media only screen and (max-width: 1280px){
    /* OUR STORY */
    .famous-item .famous-img {
        height: 320px;
    }

    .famous-item .famous-dexcription h5{
        margin: 25px 0;
    }
    
    .pack-bg {
        height: 250px;
        top: 105px;
    }
}

@media only screen and (max-width: 1024px) {
    /* MAIN SLIDER */
    .main-carousel-item .carousel-right-photo{
        display: none;
    }

    .main-carousel-item .columns{
        flex-direction: column;
    }

    .main-carousel-text h2{
        font-size: 45px;
        width: 60%;
        margin: 25px auto;
    }

    .education-emerald {
        height: 335px;
    }

    .education-emerald .educatio-img {
        top: 62px;
        left: -95px;
    }

    .education-emerald .education-text{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        margin-left: 50%;
    }

    .education-emerald .collection-title{
        width: inherit;
        margin: 0;
    }

    .education-emerald .collection-title p{
        margin-bottom: 15px;
    }

    /* OUR STORY */
    .story-item .story-text {
        padding: 15px 0 15px 15px;
    }

    .story-item .story-text h5 {
        margin: 10px 0;
    }

    .story-item .story-text p {
        width: 90%;
    }

    /*ABOUT US*/

    .about-us-description p {
        width: 100%;
    }

}



@media only screen and (max-width: 991px){
    /* OUR STORY */
    .famous-item .famous-img {
        height: 265px;
    }

    .famous-item .famous-dexcription h5{
        margin: 25px 0;
    }

    .famous-item .famous-dexcription p {
        width: 100%;
    }

    .famous-item .famous-dexcription h5{
        width: 100%;
    }

    .famous-item .famous-dexcription a{
        margin-top: 20px;
    }

    .pack-img{
        width: 69%;
    }

    .pack-bg {
        height: 250px;
        top: 75px;
    }
}

@media only screen and (max-width: 768px){
    /* MAIN CAROUSEL */

    .main-carousel-text h2{
        font-size: 30px;
        line-height: 40px;
        width: 75%;
        margin: 25px auto;
    }

    .main-carousel-text p{
        width: 100%;
    }

    .carousel-btn{
        flex-direction: column;
    }

    .main-carousel-text .carousel-btn span {
        font-size: 14px;
        margin: 10px 0;
    }

    .carousel .carousel-navigation.is-overlay{
        display: none;
    }

    /* OUR COLLECTION  */
    .init{
        justify-content: space-evenly;
    }

    .init .collection-text{
        justify-content: center;
    }

    .init .collection-text .collection-title{
        margin: 0;
    }

    .education-emerald {
        height: 500px;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 50px;
    }
    
    .education-emerald .education-text{
        width: 100%;
        margin: 0;
    }

    .education-emerald .educatio-img{
        width: 110%;
        top: 50%;
        left: -20px;
    }

    .education-emerald .educatio-img img{
        width: 110%;
    }

    .education-emerald .collection-title h2 {
        font-size: 25px;
    }

    .education-emerald .collection-title {
        width: 80%;
        margin: 0 auto;
    }

    .quote-flex h5{
        font-style: italic;
        color: #fff;
        font-size: 20px;
    }

    /* OUR STORY */
    .story-item{
        flex-direction: column;
    }

    .story-item .story-text{
        margin-top: -10px;
        width: 90%;
        margin: -7px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }

    .story-item .story-text{
        text-align: center;
    }

    .story-item .story-text p {
        width: 70%;
        margin-bottom: 25px;
    }

    .story-text .sub-title{
        width: 65%;
    }

    /* BEST SALLERS */
    .column.is-6-mobile {
        flex: none;
        width: 38%;
    }

    .famous-emeralds .famous-grid{
        display: none;
    }

    .famous-carousel-mob{
        display: block;
    }
    
    .famous-emeralds .famous-mob-header{
        display: block;
    }

    /* SHOWROOMS */
    .showrooms p {
        width: 90%;
        padding-top: 25px;
    }

    /* about us */
    .about-us .about_us-grid{
        display: none;
    }

    .about-us-carousel-mob{
        display: block;
    }

    .about-us-video .video{
        width: 100%;
    }

   .pack-img{
       display: none;
   }

   .pack-ring{
       display: block;
   }

   .pack-video{
       margin-right: 25px;
   }

   .pack-bg {
    height: 250px;
    top: 10%;
}
}

@media only screen and (max-width: 375px){
    /* MAIN CAROUSEL */

    .main-carousel-text h2{
        font-size: 22px;
        line-height: 31px;
        width: 75%;
        margin: 25px auto;
    }

    /* OUR COLLECTION */
    .init .collection-img img{
        width: 100px;
        min-width: 100px;
    }

    .education-emerald .educatio-img{
        width: 110%;
        top: 65%;
        left: -20px;
    }

    .quote-flex h5{
        font-style: italic;
        color: #fff;
        font-size: 18px;
    }

    /* OUR STORY*/
    .story-item .story-text p {
        width: 90%;
    }
}