/* Navigation */
    /* 1. Header */
    /* 2. MAIN SLIDER */
    /* 3. OUR COLLECTION */
    /* 4. quote-grn */
    /* 5. our-story */
    /* 6. best-sellers */
    /* 7. famous-emeralds */
    /* 8. showrooms*/
    /* 9. About us*/
    /* 10. PACKAGING */
    /* 11. FOOTER*/
/* Navigation end*/


/* 2. MAIN SLIDER */
.main-slider{
    background-color: #f7faf9;
}

.main-slider-item{
    display: flex;
    justify-content: space-between;
    padding: 155px 0 120px 0;
}
.main-slider-item .main-slider-item-center{
    width: 500px;
}

.main-slider-item .main-slider-item-center h2{
    font-size: 50px;
    margin-top: -42px;
    font-style: italic;
    line-height: 51px;
}

.main-slider-item .main-slider-item-center p{
    margin-top: 36px;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.main-slider-item .main-slider-item-center h3{
    font-style: italic;
    font-weight: 800;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 28px;
}

 .main-slider-item .main-slider-item-center span{
    margin: 0px 15px;
    font-size: 13px;
}

/* 2. MAIN SLIDER END */


/* 3. OUR COLLECTION */

.our-collection{
    padding-top: 103px;
}

.our-collection .columns{
    padding-top: 38px;
}

.our-coll-grid .init{
    border: 1px solid #e6edea;
    position: relative;
    height: 300px;
    padding: 30px;
    align-items: center;
    overflow: hidden;
}

.our-coll-grid .init .collection-text{
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.our-coll-grid .init .collection-img img{
    width: 140px;
    min-width: 140px;
}

.our-coll-grid .init .collection-text .collection-title{
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0px;
    width: 190px;
    color: #3d4240;
    min-height: 76px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.our-coll-grid .column-6 .init .collection-text{
    margin-left: 68px;
}

.our-coll-grid .column-6 .init .collection-title{
    margin-top: 5px;
    width: 250px;
}

.our-coll-grid .init .collection-desc{
    margin-top: -15px;
    font-weight: 400;
    color: #3d4240;
}

.our-coll-grid .init .collection-btn a{
    padding-top: 10px;
    border-top: 1px solid #49a37d;
    color: #49a37d;
    margin-top: 3px;
    display: block;
    margin-top: 29px;
}

.our-coll-grid .init-row{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #f7faf9;
    margin-top: 6px;
    overflow: hidden;
    position: relative;
    height: 215px;
    margin-bottom: 42px;
}

.our-coll-grid .init-row .collection-img img{
    position: absolute;
    top: 16px;
    left: -30px;
}

.our-coll-grid .init-row .collection-text{
    width: 500px;
    margin-left: 95px;
}

.our-coll-grid .init-row .collection-title{
    font-size: 35px;
    font-style: italic;
    margin-top: 4px;
    color: #3d4240;
}

.our-coll-grid .init-row .collection-desc{
    margin-top: 20px;
    color: #3d4240;
}

.our-coll-grid .init-row .collection-btn{
    position: relative;
}

.our-coll-grid .init-row .collection-btn a{
    position: absolute;
    height: 40px;
    width: 180px;
    right: 125px;
    top: -17px;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: 400;
}

/* 3. OUR COLLECTION END*/

 /* 4. quote-grn */
    .quote-grn{
        background-color: #49a37d;
        margin-top: 55px;
    }
    .quote-flex{
        height: 190px;
        flex-direction: column;
    }
    
    .quote-flex h5{
        font-style: italic;
        color: #fff;
        font-size: 25px;
    }

    .quote-flex span{
        color: #fff;
        margin-top: 10px;
    }
    
  /* 4. quote-grn END*/

  /* 5. our-story */

.our-story{
    padding-top: 80px;
}

.our-story .section-header{
    margin-bottom: 40px;    
}

.history-bg{
    background: url(../images/history-bg.png) 100% 100% no-repeat;
    background-size: cover;
    padding: 60px 0;
}

.history-bg .carousel-dots{
    bottom: -120px;
}

.history-text{
    background: #fff;
    height: 360px;
    padding-left: 70px;
    justify-content: unsafe;
    padding-top: 70px;
}


.history_-tem .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.history-text span{
    font-size: 13px;
}

.history-text h5{
    font-style: italic;
    font-size: 37px;
    margin-bottom: 17px;
}

.history-text p{
    width: 56%;
}

  /* 5. our-story END*/

  /* 6. best-sellers */
  
.best-sellers{
    padding-top: 130px;
}

.best-sellers .section-header{
    margin-bottom: 40px;    
}

.best-seller-item .best-seller-photo{
    width: 195px;
    height: 220px;
    position: relative;
    background-color: #f7faf9;
    position: relative;
}

.best-seller-item .best-seller-photo .hover-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e6edea;
    display: none;
}

.best-seller-item .best-sellers-price{
    margin-top: 20px;
    flex-direction: column;
}

.best-seller-item .prod-name{
    margin-bottom: 6px;
}

.best-seller-item .price span{
    font-weight: 600;
}

.best-seller-item .old-price{
    position: relative;
}

.best-seller-item .old-price:before{
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    height: 1px;
    width: 100%;
    background: #000;
    z-index: 1;
  }

  .best-seller-item .new-price{
      color: #ea3820;
  }

  .best-seller-photo:hover .hover-bg{
      display: block;
  }

.best-seller-item .best-seller-photo img{
    max-width: 140px;
    min-width: 140px;
    z-index: 2;
}

  /* 6. best-sellers END*/

  /* 7. famous-emeralds */

  .famous-emeralds{
    margin: 110px 0 110px 0;
  }

 .famous-item{
     margin: 10px;
 }

 .famous-item .famous-img{
     height: 421px;
 }

 .famous-item .famous-img img{
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .famous-item .famous-dexcription{
    flex-direction: column;
 }

 .famous-item .famous-dexcription h5{
    font-size: 38px;
    width: 250px;
    margin-top: 53px;
    line-height: 41px;
    font-style: italic;
 }

 .famous-item .famous-dexcription p{
    width: 255px;
    margin-top: 15px;
 }

 .famous-item .famous-dexcription a{
    margin-top: 40px;
    font-size: 17px;
    text-transform: uppercase;
    color: #49a37d;
 }

 .famous-header{
     width: 100%;
 }

 .famous-header .first{
     font-style: italic;
     display: block;
     font-size: 41px;
     margin-top: -9px;
     color: #3d4240;
 }

 .famous-header .second{
    font-size: 44px;
    margin-top: -10px;
    display: block;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: #3d4240;
}

  /* 7. famous-emeralds END*/

  /* 8. showrooms*/
.showrooms{
    height: 460px;
    background-image: url("../images/showrooms-bg.png")!important;
    background-size: cover!important;
    flex-direction: column;
    padding: 120px 0;
}

.showrooms h3{
    font-style: italic;
    color: #fff;
    font-size: 38px;
}

.showrooms h3 span{
    font-style: normal;
}

.showrooms p{
    color: #fff;
    width: 550px;
    margin-top: 22px;
    margin-bottom: 25px;
}

.showrooms a{
    width: 235px;
    letter-spacing: 1px;
    height: 50px;
    color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
}

.showrooms a:hover{
    color: #fff;
}
  /* 8. showrooms END*/

  /* 9. About us*/

.about-us-section{
    padding-top: 120px;
}

.about-us-section .about_us-grid{
    margin-top: 35px;
}

.about-us-section .about-us-video{
    position: relative;
}

.about-us-section .about-us-video .play-video{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.about-us-section .about-us-description{
    flex-direction: column;
}

.about-us-section .about-us-description h5{
    font-style: italic;
    color: #3c4240;
    font-size: 38px;
    margin-top: 20px;
}

.about-us-section .about-us-description span{
    width: 60px;
    height: 1px;
    background-color: #40a584;
    margin: 18px 0;
}

.about-us-section .about-us-description p{
    width: 300px;
    min-height: 48px;
}

.about-us-section .about-us-description a{
    margin-top: 15px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #40a584;
}

  /* 9. About us END*/

/* 10. PACKAGING */

.packaging-section{
    position: relative;
    margin-top: 110px;
    margin-bottom: 110px;
}

.packaging-section .packaging-bg{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 360px;
    margin: 60px 0;
}

.packaging-section .packaging-bg img{
    width: 100%;
    height: 100%;
}

.pack-video{
    position: relative;
    width: 815px;
    height: 425px;
}

.pack-img{
    margin-left: 60px;
}

.pack-video{
    margin-left: 40px;
}

.pack-video img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.pack-video .play-video{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.pack-video .play-video img{
    height: auto;
    width: auto;
    object-fit: none;
}

/* 10. PACKAGING END*/

