
/* GENEREL */

.level{
    flex-wrap: wrap;
}

.pt100{
    padding: 100px 0;
}

.sub-title{
    font-style: italic;
    color: #3c4240;
    font-size: 38px;
    font-family: "Lora"
}


/* GENERAL END  */

/* HEADER */

/* HEADER END*/

/* PROMO HEADER */
header .header-promo{
    background-color: #e6edea;
}

header .promo-header{
    height: 40px;
}

header .promo-header .level{
    width: 100%;
}

header .promo-header img{
    margin-right: 15px;
}

header .promo-header span{
    font-size: 13px;
    color: #555c59;
}
/* PROMO HEADER END */

/* USER NAV */

header .user-nav{
    border-bottom: 1px solid #e6edea;
}

header .user-nav .level{
    height: 60px;
}

/* header phone */
header .phone-number span{
    letter-spacing: 0.4px;
    margin-left: 10px;
    font-size: 14px;
    color: #3f3f3f;
}
header .phone-number a{
    margin-left: 25px;
    width: 118px;
    height: 30px;
    border: 1px solid #ced6d3;
    font-size: 14px;
    color: #838f8a;
}
/* header phone end */

.main-header{
    flex-direction: column;
}

/* header search */
header .nav-search input{
    border: none;
    width: 114px;
    font-size: 14px;
}

.nav-search input::placeholder {
    font-family: "Lora", sans-serif;
    font-style: italic;
    color: #838f8a;
}

.nav-search input::-ms-input-placeholder { 
    font-family: "Lora", sans-serif;
    font-style: italic;
    color: #838f8a;
}

.nav-search input::-ms-input-placeholder { 
   font-family: "Lora", sans-serif;
   font-style: italic;
   color: #838f8a;
}

header .nav-search button{
    border: none;
    background: none;
}

header .nav-search button img{
    width: 15.5px;
    max-width: 15.5px;
}
/* header search end */

/* header account */
header .nav-account a{
    align-items: center;
    font-size: 13px;
    margin-left: 7px;
    color: #545c59;
    position: relative;
    padding-left: 14px;
    line-height: 0;
}

header .nav-account a:after{
    content: '';
    width: 0;
    height: 16px;
    position: absolute;
    border: 1px solid #eaf0ed;
    top: 0px;
    left: 0;
}

header .nav-account a img{
    width: 12px;
    max-width: 12px;
    margin-right: 1.5px;
}

header .nav-account span{
    font-size: 13px;
    margin-left: 7px;
    color: #545c59;
    margin-right: 2px;
}
/* header account end */
/* header mybag*/
header .nav-mybag a{
    align-items: center;
    font-size: 13px;
    margin-left: 7px;
    color: #545c59;
    position: relative;
    padding-left: 14px;
    line-height: 0;
}

header .nav-mybag a:after{
    content: '';
    width: 0;
    height: 16px;
    position: absolute;
    border: 1px solid #eaf0ed;
    top: 0px;
    left: 0;
}

header .nav-mybag a img{
    width: 11px;
    max-width: 11px;
    height: 15px;
    max-height: 15px;
    margin-right: 1.5px;
}

header .nav-mybag a span{
    font-size: 13px;
    margin-left: 7px;
    color: #545c59;
    margin-right: 2px;
}
/* header mybag end */

/* USER NAV END */


/* header logo */
.logo-header{
    border-bottom: 1px solid #e6edea;
}

.logo-header .logo-header-flex{
    height: 85px;
}

.logo-header .logo-text{
    flex-direction: column;
    margin-left: 20px;
}

.logo-header .logo-text h1{
    font-family: 'Cinzel', serif;
    font-size: 27px;
    color: #7f633e;
    line-height: 1;
}

.logo-header .logo-text span{
    font-size: 14px;
    font-style: italic;
    color: #555c59;
    margin-left: -56px;
}

/* header logo end*/

/* MAIN NAV */

.main-nav .container{
    align-items: center;
    justify-content: center;
}

.mob-nav-open{
    display: none;
}

.mob-nav-open a span{
    height: 2px;
    width: 30px;
    background-color: #49a37d;
    display: block;
    margin-bottom: 6px;
}

.mob-nav-open a span:last-child{
    margin-bottom: 0;
}

.main-nav{
    height: 45px;
    align-items: center;
    justify-content: center;
}

.main-nav .nav-list{
    display: inline-flex;
    height: 100%;
}

.main-nav .nav-list li{
    display: flex;
    height: 100%;
}

.main-nav .nav-list a{
    align-items: center;
    height: 100%;
    display: flex;
    margin: 0 20px;
    color: #3d4240;
    font-size: 15px;
}

.main-nav .nav-list a img{
    margin-right: 8px;
}

/* DROPDOWN */

.dropdown-menu{
    width: 100%;
}

.nav-list .dropdown{
    position: inherit;
}

.main-nav .container{
    position: inherit;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
}

.dropdown-menu {
    top: 228px;
}

.dropdown .dropdown-trigger:hover a span{
    position: relative;
}

.dropdown .dropdown-trigger a span:after{
    content: '';
    width: 100%;
    height: 0;
    position: absolute;
    border: 2px solid #49a37d;
    right: 0;
    bottom: -12px;
    display: none;
}

.dropdown-trigger:hover a span:after{
    display: block;
}

.dropdown-menu .dropdown-content{
    border-radius: 0;
    -webkit-box-shadow: 0 1px 8px rgba(0,0,0,.1);
    box-shadow: 0 1px 8px rgba(0,0,0,.1);
    border-top: 1px solid #f3f3f3;
    background-color: #fff;
    padding: 0;
}

.drop-down-header{
    width: 100%;
    background-color: #f7faf9;
    height: 55px;
    justify-content: center;
}

.drop-down-header p{
    margin: 0 245px;
    font-size: 18px;
}
 
.drop-down-header h3{
    font-size: 17px;
    margin-left: 8px;
    letter-spacing: 1px;
}

.dropdown-nav-list{
   padding: 35px 0;
}

/* NDROP DOWN NAV LIST  */
.dropdown-content .dropdown-nav-list ul li a{
    margin: 0;
    margin-bottom: 15px;
}

.dropdown-video figure{
    width: 420px;
    max-height: 200px;
    height: 200px;
    overflow: hidden;
}

.dropdown-video .image.is-4by3 {
    padding-top: 40%;
}

.dropdown-video figure img{
    max-height: 200px;
    height: 200px;
}

.dropdown-video .card-content{
    background-color: #f7faf9;
    box-shadow: none;
    padding: 30px;
}

.dropdown-video .card{
    box-shadow: none;
}

.dropdown-video .card-content p{
    font-style: italic;
    font-size: 22px;
    line-height: 27px;
    margin-top: 26px;
    color: #555c59;
    text-align: center;
    width: 80%;
    margin: auto;
}

.dropdown-video .card-content a{
    font-style: italic;
    color: #49a37d;
    margin-top: 10px;
    text-align: center;
    width: auto;
    display: inherit;
}

.dropdown-video .card-content a i{
    margin-left: 5px;
}

.dropdown-nav-list .drop-col-header{
    margin-bottom: 25px;
}

/* NDROP DOWN NAV LIST  END */

/* MOBILE NAV */

.mobile-nav-content{
    display: none;
}

.mobile-nav-content{
    position: absolute;
    z-index: 9998;
    background-color: #fff;
    left: 0;
    top: 115px;
    width: 100%;
    -webkit-box-shadow: 0 1px 8px rgba(0,0,0,.1);
    box-shadow: 0 1px 8px rgba(0,0,0,.1);
    border-top: 1px solid #f3f3f3;
}

.mobile-nav-content a{
    height: 80px;
    color: #3d4240;
    font-size: 21px;
    border-bottom: 1px solid #e6edea;
    position: relative;
    font-weight: 600;
}

.mobile-nav-content a i{
    position: absolute;
    right: 15px;
    top: 30px;
    color: #838f8a;
    font-size: 19px;
}

.mobile-nav-content a img{
    margin-right: 14px;
}

.nav-level-2{border-bottom: 2px solid #d7dfdc;}

.nav-level-2 .level-2-header{
    background-color: #f7faf9;
    height: 100px;
    color: #555c59;
    font-size: 22px;
}

.nav-level-2 .level-2-header img{
    margin-right: 20px;
}

.mobile-nav-content .nav-level-2 a{
    font-size: 20px;
    font-weight: 600;
    margin-left: 22px;
    height: 70px;
}

.nav-level-3{
    border-bottom: 1px solid #d7dfdc;
}

.mobile-nav-content .nav-level-3 a{
    border: none;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
}

.mobile-nav-content .nav-level-3 .nav-img{
    width: 40%;
    margin: 0 auto;
    justify-content: stretch;
}

.mobile-nav-content .active-nav{
    border: none;
}

.mobile-search{
    padding: 40px 0;
    margin: 0 15px;
}

.mobile-search .nav-search{
    flex-direction: column;
}

.mobile-search form{
    width: 100%;
    border-bottom: 1px solid #e9efec;
}

.mobile-search p{
    font-style: italic;
    color: #555c59;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.mobile-search form input{
    width: 100%;
    height: 50px;
    font-size: 19px;
}

.mobile-search form button img {
    width: 19.5px;
    max-width: 19.5px;
}

.mobile-nav-content a.mobile-chat{
    color: #838f8a;
    border: 1px solid #ced6d3;
    font-weight: 500;
    margin-top: 40px;
    font-size: 19px;
}
/*MOBILE NAV END*/

/* DROPDOWN END */

/* MAIN NAV END */

/* MAIN CAROUSEL */

.main-carousel{
    background-color: #f7faf9;
}

.main-carousel .main-carousel-item{
    flex-direction: row;
    justify-content: space-between;
}

.main-carousel-text h2{
    font-size: 50px;
    margin-top: -42px;
    font-style: italic;
    line-height: 60px;
}

.main-carousel-text p{
    margin: 25px auto;
    font-size: 15px;
    letter-spacing: 0.5px;
    width: 80%;
}

.main-carousel-text h3{
    font-style: italic;
    font-size: 18px;
    margin-bottom: 25px;
}

.main-carousel-text .carousel-btn span{
    margin: 0px 15px;
    font-size: 13px;
}

.main-carousel-item img{
    width: 94%;
}

.main-carousel-item .columns{
    align-items: center;
    justify-content: center;
}

/* MAIN CAROUSEL END */

/* OUR COLLECTION */
.init{
    border: 1px solid #e6edea;
    position: relative;
    height: 300px;
    padding: 30px;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
}

.init .collection-text{
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.init .collection-img img{
    width: 140px;
    min-width: 140px;
}

.init .collection-text .collection-title{
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0px;
    width: 190px;
    color: #3d4240;
    min-height: 76px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.init .collection-text{
    margin-left: 40px;
}

.init .collection-title{
    margin-top: 5px;
    width: 250px;
}

.init .collection-desc{
    margin-top: -15px;
    font-weight: 400;
    color: #3d4240;
}

.init .collection-btn a{
    padding-top: 10px;
    border-top: 1px solid #49a37d;
    color: #49a37d;
    margin-top: 3px;
    display: block;
    margin-top: 29px;
}

.education-emerald{
    background-color: #f7faf9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 215px;
}

.education-emerald .educatio-img{
    position: absolute;
    top: 16px;
    left: -30px;
}

.education-emerald .education-text{
    display: flex;
    align-items: center;
}

.education-emerald .collection-title{
    width: 74%;
    margin-left: 26%;
    margin-right: 5%;
}

.education-emerald .collection-title h2{
    font-size: 35px;
    font-style: italic;
    color: #3d4240;
    margin-bottom: 15px;
}

.education-emerald .collection-title p{
    color: #3d4240;
}

/* OUR COLLECTION END */

 /* quote-grn */
 .quote-grn{
    background-color: #49a37d;
}
.quote-flex{
    height: 190px;
    flex-direction: column;
}

.quote-flex h5{
    font-style: italic;
    color: #fff;
    font-size: 25px;
}

.quote-flex span{
    color: #fff;
    margin-top: 10px;
}

/* quote-grn END*/

/* OUR STORY */

.our-story-carousel{
    background: url(../images/history-bg.png) 100% 100% no-repeat;
    background-size: cover;
    padding: 60px 0;
}

.story-item{
    justify-content: center;
    align-items: center;
}

.story-item .story-text{
    background: #fff;
    padding: 70px 0 70px 30px;
}

.story-item .story-text span{
    font-size: 13px;
}

.story-item .story-text h5{
    margin: 15px 0;
}

.story-item .story-text p{
    width: 70%;
}

.our-story .carousel-dots{
    bottom: -100px;
}

/* OUR STORY END */

/* BEST SELLERS */

.best-sellers{
    padding-top: 0;
}

.best-seller-item .best-seller-photo{
    height: 200px;
    position: relative;
    position: relative;
}

.best-seller-item .best-seller-photo .hover-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e6edea;
    display: none;
}

.best-seller-item .best-sellers-price{
    margin-top: 20px;
    flex-direction: column;
}

.best-seller-item .prod-name{
    margin-bottom: 6px;
}

.best-seller-item .price span{
    font-weight: 600;
}

.best-seller-item .old-price{
    position: relative;
}

.best-seller-item .old-price:before{
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    height: 1px;
    width: 100%;
    background: #000;
    z-index: 1;
  }

  .best-seller-item .new-price{
      color: #ea3820;
  }

  .best-seller-photo:hover .hover-bg{
      display: block;
  }

.best-seller-item .best-seller-photo img{
    max-width: 140px;
    min-width: 140px;
    z-index: 2;
}

/* BEST SELLERS END */

/* FAMOUS EMERALDS */

.famous-emeralds{
    padding-top: 0;
}

.famous-emeralds .famous-mob-header{
    display: none;
}

.famous-emeralds .famous-tab-header{
    width: 70%;
    margin: 0 auto 20px auto;
}


.famous-item .famous-img{
    height: 420px;
}

.famous-item .famous-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.famous-item .famous-dexcription{
   flex-direction: column;
}

.famous-item .famous-dexcription h5{
   width: 250px;
   margin: 40px 0;
   line-height: 41px;
}

.famous-item .famous-dexcription p{
   width: 255px;
}

.famous-item .famous-dexcription a{
   margin-top: 40px;
   font-size: 17px;
   text-transform: uppercase;
   color: #49a37d;
}

.famous-carousel-mob{
    display: none;
}

/* FAMOUS EMERALDS END */

/* showrooms*/
.showrooms{
    height: 460px;
    background-image: url("../images/showrooms-bg.png")!important;
    background-size: cover!important;
    flex-direction: column;
    padding: 120px 0;
}

.showrooms h3{
    font-style: italic;
    color: #fff;
    font-size: 38px;
}

.showrooms h3 span{
    font-style: normal;
}

.showrooms p{
    color: #fff;
    width: 550px;
    margin-top: 22px;
    margin-bottom: 25px;
}

.showrooms a{
    width: 235px;
    letter-spacing: 1px;
    height: 50px;
    color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
}

.showrooms a:hover{
    color: #fff;
}
  /* showrooms END*/

  /* ABOUT US */
.about-us-video{
    position: relative;
}

.about-us-video .play-video{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.about-us-description{
    flex-direction: column;
}

.about-us-description h5{
    margin-top: 20px;
}

.about-us-description span{
    width: 60px;
    height: 1px;
    background-color: #40a584;
    margin: 18px 0;
}

.about-us-description p{
    width: 300px;
    min-height: 48px;
}

.about-us-description a{
    margin-top: 15px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #40a584;
}

.about-us-carousel-mob{
    display: none;
}
/* ABOUT US END*/

/*PACKAGING */

.packaging-section{
    padding-top: 0;
    position: relative;
}

.pack-video{
    position: relative;
}

.pack-bg{
    position: absolute;
    height: 350px;
    overflow: hidden;
    top: 70px;
    width: 100%;
}

.pack-bg img{
    width: 100%;
}

.play-video{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.pack-ring{
    display: none;
}

.pack-img{
    width: 58%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* PACKAGING END*/