a,div,span,button,input,textarea,p,h1,h2,h3,h4,h5,li{
    font-family: 'Roboto', sans-serif;
  }

  a:hover,
  a:focus,
  a:active,
  a:visited,
  a{
      text-decoration: none;
  }

  button:hover,
  button:focus,
  button:active,
  button:visited,
  button{
      outline: none;
  }

  input:hover,
  input:focus,
  input:active,
  input:visited,
  input{
      outline: none;
  }

.w100{font-weight: 100;}
.w200{font-weight: 200;}
.w300{font-weight: 300;}
.w400{font-weight: 400;}
.w500{font-weight: 500;}
.w600{font-weight: 600;}
.w700{font-weight: 700;}
.w800{font-weight: 800;}
.w900{font-weight: 900;}
.flato{font-family: "Lato";}
.flora{font-family: "Lora"}
.tleft{text-align: left;}
.tright{text-align: right;}
.tcenter{text-align: center;}
.dflex{display: flex;}

.button{
    border: 1px solid #8f7856;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8b7953;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 0;
    padding: 0;
    background: none;
}

/* SECTION HEADER  */
.section-header{
    justify-content: center;  
    margin-bottom: 50px;  
}

.section-header h3{
    font-style: italic;
    font-size: 42px;
    color: #3d4240;
    text-align: center;
}

.section-header h3 span{
    font-style: normal;
}

/* SECTION HEADER  END*/

.carousel-dots{
    bottom: -40px;
    position: absolute;
    width: 100%; 
}

.carousel-dots span{
    width: 9px;
    height: 9px;
    background-color: #d5e9e0;
    border-radius: 50%;
    margin: 0 7px;
}

.carousel-dots .active{
    background-color: #49a37d;
}
